{% extends "layout.njk" %}

{% block main %}
    <h1>{{ title }}</h1>
    <a href="{{ links.nunjucksDocs }}">Please read Mozilla's Nunjucks docs</a>
    <p>Having an issue ? Want to help ? <a href="{{ links.repository }}">Feel free to join on github!</a></p>
{% endblock %}
